Repository ArneBinder/pie-datasets, pull requests merged in 2023-12, with the labels that each got.

#56 Add AM dataset `argmicro`
  dataset_builders/pie/argmicro/README.md
  dataset_builders/pie/argmicro/argmicro.py
  dataset_builders/pie/argmicro/requirements.txt
  tests/dataset_builders/pie/test_argmicro.py
  tests/fixtures/dataset_builders/arg-microtexts-master.zip
  tests/fixtures/dataset_builders/hf/argmicro/de.train.0.json
  tests/fixtures/dataset_builders/hf/argmicro/en.train.0.json
Labels: new dataset

#86 Fix brat revisions
  dataset_builders/pie/brat/brat.py
  src/pie_datasets/builders/brat.py
Labels: bug, breaking

#87 add `_generate_example()` and `_generate_example_kwargs()` to `PieDatasetBuilder`
  src/pie_datasets/core/builder.py
Labels: enhancement

#51 add `squad_v2` datasets
  dataset_builders/pie/squad_v2/README.md
  dataset_builders/pie/squad_v2/requirements.txt
  dataset_builders/pie/squad_v2/squad_v2.py
  poetry.lock
  pyproject.toml
  tests/dataset_builders/pie/test_squad_v2.py
Labels: new dataset

#53 add `imdb` dataset
  dataset_builders/pie/imdb/README.md
  dataset_builders/pie/imdb/imdb.py
  dataset_builders/pie/imdb/requirements.txt
  tests/dataset_builders/pie/test_imdb.py
Labels: new dataset

#61 add `sciarg` dataset
  .pre-commit-config.yaml
  dataset_builders/pie/sciarg/README.md
  dataset_builders/pie/sciarg/requirements.txt
  dataset_builders/pie/sciarg/sciarg.py
  tests/dataset_builders/common.py
  tests/dataset_builders/pie/test_sciarg.py
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A01.ann
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A01.txt
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A02.ann
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A02.txt
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A03.ann
  tests/fixtures/dataset_builders/pie/sciarg/compiled_corpus/A03.txt
Labels: new dataset

#89 fix sciarg tests: tokenization with partitions
  poetry.lock
  pyproject.toml
  tests/dataset_builders/pie/test_sciarg.py
Labels: bug

#90 Add `scientific_papers` dataset
  dataset_builders/pie/scientific_papers/README.md
  dataset_builders/pie/scientific_papers/requirements.txt
  dataset_builders/pie/scientific_papers/scientific_papers.py
  tests/dataset_builders/pie/test_scientific_papers.py
Labels: new dataset

#68 add `abstrct` dataset
  .pre-commit-config.yaml
  dataset_builders/pie/abstrct/README.md
  dataset_builders/pie/abstrct/abstrct.py
  dataset_builders/pie/abstrct/requirements.txt
  tests/dataset_builders/pie/test_abstrct.py
Labels: new dataset

#94 pin datasets to <0.16.0
  poetry.lock
  pyproject.toml
Labels: bug
